.wide-image-container {
  position: absolute;
  display: inline-block;
  padding: 0 50px;
  width: 100%;
}

.wide-image-container > img {
  max-width: 100%;
}

.image-content {
  position: absolute;
  top: 65%;
  left: 7%;
}

.image-content .txt {
  position: relative;
  margin: 15px 0;
  font-size: xxx-large;
  font-weight: bolder;
}

.image-content .btn {
  position: relative;
  margin: 10px 0;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 22px 28px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.image-content .btn:hover {
  background-color: #28303d;
  opacity: 0.7;
  border: none;
}
