.box {
  padding: 80px 60px;
  background: black;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}

.heading {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: bold;
}

.footerLink {
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
}
