@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

@font-face {
  font-family: "SFUI";
  src: local("SFUI"), url(../fonts/SFUI.otf) format("opentype");
}

@font-face {
  font-family: "NikeTG";
  src: local("NikeTG"), url(../fonts/NikeTG.otf) format("opentype");
}

.box {
  padding: 0px;
  background: #111;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 40px 0px 40px;
}

.row {
  display: grid;
  grid-template-columns: 75% 25%;
  margin: 0px -8px 16px -8px;
}

.subRow {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding: 0px 8px;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: left;
}

p {
  margin-top: 0px;
  margin-bottom: 3px;
}

.heading {
  color: #fff;
  margin: 0px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 3px;
  line-height: 28px;
  letter-spacing: 0.3px;
}

.footerLink {
  color: rgb(126, 126, 126);
  margin: 0px;
  font-family: "SFUI", sans-serif;
  font-size: 11px;
  text-decoration: none;
  margin-bottom: 3px;
  line-height: 24px;
}

.footerLink:hover {
  color: #fff;
}

.socialMenu {
  padding-right: 8px;
  text-align: right;
}

.socialLinks {
  display: inline;
  margin: 0px;
}

.socialLink {
  display: inline-block;
  background-color: #7e7e7e;
  margin: 0px 0px 0px 16px;
  padding: 0px;
  border-radius: 50%;
  transition: 0.3s;
}

.socialLink:hover {
  background-color: #fff;
}

.socialIcon {
  color: #111;
  font-size: 15px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 5px;
  width: 20px;
  height: 20px;
}

.subFooter {
  border-top: 1px solid #222;
  font-family: "SFUI", sans-serif;
  /*display: grid;
  grid-template-columns: 50% 50%;*/
  font-size: 10px;
  color: #7e7e7e;
  margin: 0px -8px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.leftSubFooter {
  padding: 12px 8px 0px 8px;
  line-height: 12px;
  display: flex;
  align-items: flex-end;
  width: 50%;
}

.countryPin {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.countryPin > span {
  margin: 0px 8px;
}

.labelCopyright {
  display: inline-block;
  padding-top: 20px;
  margin-left: 16px;
}

.rightSubFooter {
  display: inline;
  padding-right: 8px;
  width: 50%;
}

.rightSubFooter > ul {
  text-align: right;
}

.rightSubFooter > ul > li {
  display: inline;
  font-family: "SFUI", sans-serif;
  font-size: 10px;
  margin: 0px 0px 0px 12px;
}

.rightSubFooter > ul > li > a {
  display: inline-block;
  text-decoration: none;
  color: #7e7e7e;
  padding: 8px;
  line-height: 24px;
  transition: all 0.2s ease;
}

.rightSubFooter > ul > li > a:hover {
  color: #fff;
}
