/*.table {
  padding: 10px;
  height: 71px;
  background-color: #fff;
  border-color: #ffffff;
  border: 0;
  border-radius: 0;
  color: #000;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
}*/

.subnav {
  float: left;
  overflow: hidden;
  padding: 20px 1px 20px 1px;
  text-align:justify;
}

.logo{
  padding:5px 35px;
}

.logo > a > img:hover {
  filter: invert(47%) sepia(0%) saturate(2%) hue-rotate(120deg) brightness(96%)
    contrast(91%);
}

.column {
  display: flex;
  align-items: flex-start; /* CHANGED */
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
 
}

.subnav .Topnavbar {
  font-size: 16px;
  border-color: #fff;
  border: 0;
  border-radius: 0;
  color: #000;
  padding-left: 4px;
  padding-right: 4px;
}

.Topnavbar:hover {
  background-color: #fff;
  border-bottom: 1px;
  border-style: groove;
  color: #000;
}

.Topnavbar:focus{
  box-shadow: none;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 100%;
  text-align: left;
  z-index: 1;
}




.subnav-content .commonSubCategory {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  background-color: #fff;
  visibility: visible;
}

.subnav-content .commonSubSubCategory {
  color: #555;
  font-size: 14px;
  text-decoration: none;
  background-color: #fff;
  visibility: visible;
}

.commonSubCategory {
  visibility: hidden;
}

.commonSubCategory:focus {
  box-shadow: none;
} 

.commonSubSubCategory:focus {
  box-shadow: none;
}

.subnav-content .commonSubSubCategory:hover {
  color:#000;
}
.subnav-content .commonSubCategory:hover {
  font-size: 16px;
}

.subnav:hover .subnav-content {
  background-color: #fff;
  display: flex;
  flex-direction:row;
  justify-content:center;
  position: absolute;
  top: 10%;
  padding: 20px 20px 20px 20px;
  font-weight: normal;
}

/*.Topnavbar:hover ~ .commonSubCategory {
  visibility: visible;
  text-align: center;
  background-color: whitesmoke;
  display: inline-block;
  position: absolute;
  left: 1%;
  right: 1%;
  top: 8%;
}*/

.searchbar {
  border-radius: 20px;
}