.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  width: 436px;
  height: 500px;
  margin: auto;
  background: white;
}

.btn-close {
  color: #000;
  background-color: #fff;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 45px;
  border: none;
  padding: 0;
}

.nike-image {
  height: 17px;
  max-width: 573px;
  margin: 30px;
  background-image: url("../../images/nike.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 43px;
}

.header-text {
  font-size: 26px;
  line-height: 26px;
  margin: 0 0 20px;
  max-width: 25ch;
  text-align: center;
  font-weight: 700;
}

.input-text {
  padding: 20px;
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: normal;
  text-align: left;
}

.login-email {
  margin: 0 0 20px;
}

.input-email-error {
  color: #fe0000;
  font-size: 12px;
  font-family: "SFUI";
  margin: 0 0 20px;
}

.login-password {
  margin: 0 0 10px;
}

.user-signin .input-text:focus {
  box-shadow: none;
}

.sign-in-div {
  width: 50%;
  float: left;
}

.signed-in-checkbox {
  line-height: 20px;
  left: 35%;
  position: relative;
}

.forgot-pass-div {
  position: relative;
  width: 50%;
  float: right;
  line-height: 20px;
  margin: 16px 0 20px;
  text-align: center;
}

.forgot-pass-link {
  color: #8d8d8d;
  font-size: 12px;
  text-decoration: none;
  line-height: normal;
  font-family: inherit;
}

.policy-text {
  clear: both;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  outline: 0;
  margin: 0 78px;
  color: #8d8d8d;
}

a {
  color: #8d8d8d;
}

.btn {
  margin: 20px 0;
  display: inline-block;
  position: relative;
  width: 100%;
}

.btn-sign-in {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 15px;
  margin: auto;
  height: 40px;
  line-height: 17px;
  width: 65%;
}

.bottom-text {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  margin: 5px 0;
  color: #8d8d8d;
}

.bottom-text-link {
  color: #000;
}
