@font-face {
  font-family: "SFUI";
  src: local("SFUI"), url(../../fonts/SFUI.otf) format("opentype");
}

.modal-view {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content-view {
  position: relative;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 5%;
  width: 500px;
  height: 820px;
  margin: auto;
  background: white;
}

.form-close {
  color: #000;
  background-color: #fff;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 45px;
  border: none;
  padding: 0;
}

.close-div .form-close:focus {
  box-shadow: none;
}

.nike-image {
  height: 17px;
  max-width: 573px;
  padding-top: 70px;
  margin: 0;
  background-image: url("../../images/nike.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 43px;
}

.header-text-bold {
  font-size: 26px;
  line-height: 26px;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
}

.header-text-light {
  color: #8d8d8d;
  font-size: 12px;
  line-height: 16px;
  margin: 25px 100px;
  text-align: center;
  font-weight: 400;
}

.user-input-email {
  padding: 0px 16px;
  width: 325px;
  height: 40px;
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  font-family: "SFUI";
  border: 1px solid #d8dae5;
  color: #3f3c3c;
}

.user-input .user-input-email:focus {
  box-shadow: none;
}

.user-input-password,
.user-first-name,
.user-last-name {
  padding: 0px 16px;
  width: 325px;
  height: 40px;
  margin: 12px 0 0;
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  font-family: "SFUI";
  border: 1px solid #d8dae5;
  color: #3f3c3c;
}

.user-input .user-input-password:focus {
  box-shadow: none;
}

.user-input .user-first-name:focus {
  box-shadow: none;
}

.user-input .user-last-name:focus {
  box-shadow: none;
}

.user-birth-date {
  width: 325px;
  margin: 12px 0 0;
  padding: 0px 16px;
  display: inline-block;
  position: relative;
  border: 1px solid #d8dae5;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: normal;
  color: #3f3c3c;
  font-family: "SFUI";
  box-sizing: border-box;
}

.user-input-email::placeholder,
.user-input-password::placeholder,
.user-first-name::placeholder,
.user-last-name::placeholder,
.user-birth-date::placeholder {
  color: #8d8d8d;
}

.clear-date {
  left: 90%;
  top: 10% !important;
}

.clear-date::after {
  border-radius: 50% !important;
  color: #fff !important;
  background-color: #8d8d8d !important;
  height: 10px !important;
  width: 11px !important;
}

.member-text {
  color: #8d8d8d;
  font-size: 11px;
  line-height: 16px;
  margin: 10px 100px;
  text-align: center;
  font-weight: 400;
}

.country-select {
  width: 65%;
  line-height: 42px;
  display: inline-block;
  position: relative;
  border: 1px solid #d8dae5;
  border-radius: 4px;
}

.country-options {
  font-size: 14px;
}

.gender-div-male {
  width: 50%;
  float: left;
}

.gender-male-btn {
  background-color: #fff;
  border: 1px solid #d8dae5;
  box-sizing: border-box;
  color: #3f3c3c;
  font-family: "SFUI";
  width: 63%;
  font-size: 14px;
  height: 40px;
  line-height: 17px;
  left: 35%;
  margin: 12px 0 0 0;
  position: relative;
}

.gender-div-male .gender-male-btn:focus {
  box-shadow: none;
  border: 1px solid #000;
  color: #000;
}

.gender-male-btn:disabled {
  border: 1px solid #000;
  color: #000;
}

.gender-div-female {
  position: relative;
  width: 50%;
  float: right;
  line-height: 17px;
  margin: 12px 0 0 0;
}

.gender-female-btn {
  background-color: #fff;
  border: 1px solid #d8dae5;
  box-sizing: border-box;
  color: #3f3c3c;
  font-family: "SFUI";
  width: 63%;
  font-size: 14px;
  height: 40px;
  line-height: 17px;
  margin: 0 0 0 5px;
}

.gender-div-female .gender-female-btn:focus {
  box-shadow: none;
  border: 1px solid #000;
  color: #000;
}

.gender-female-btn:disabled {
  border: 1px solid #000;
  color: #000;
}

.sign-up-div {
  width: 60%;
  float: left;
}

.signed-up-email-checkbox {
  line-height: 17px;
  left: 30%;
  position: relative;
}

.policy-terms-text {
  clear: both;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  outline: 0;
  margin: 0 78px;
  color: #8d8d8d;
}

.join-us-div {
  margin: 20px 0;
  display: inline-block;
  position: relative;
  width: 100%;
}

.join-us-btn {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  font-family: "SFUI";
  margin: auto;
  height: 40px;
  line-height: 17px;
  width: 65%;
}

.bottom-signin-text {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  margin: 5px 0;
  color: #8d8d8d;
}

.bottom-text-link {
  color: #000;
}
